<html>
    <head>
        <title> Chat </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

            {% if messages %}
                  <div class="container">
                        <h1 class="text-center">Chat App</h1>
                        {% for message in messages %}
                        <div class="row">
                            <div class="col-2">
                                <p class="font-italic" style="color:rgb(40, 38, 160)"><td>{{ message.user_alias }} - {{ message.pub_date }}</td></p>
                            </div>
                            <div class="col-10">
                                <p class="font-weight-normal"><td>{{ message.message_text }}</td></p>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="row">
                                {% if messages.has_other_pages %}
                                <ul class="pagination">
                                  {% if messages.has_previous %}
                                    <li><a href="?page={{ messages.previous_page_number }}">&laquo;</a></li>
                                  {% else %}
                                    <li class="disabled"><span>&laquo;</span></li>
                                  {% endif %}
                                  {% for i in messages.paginator.page_range %}
                                    {% if messages.number == i %}
                                      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% else %}
                                      <li><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                  {% endfor %}
                                  {% if messages.has_next %}
                                    <li><a href="?page={{ messages.next_page_number }}">&raquo;</a></li>
                                  {% else %}
                                    <li class="disabled"><span>&raquo;</span></li>
                                  {% endif %}
                                </ul>
                              {% endif %}
                        </div>
                    </div>
            {% else %}
                <p>No messages are available.</p>
            {% endif %}


            <div class="container">
                <form method="POST"> {% csrf_token %}
                    {{form.as_p}}
                    <input type='submit' value='Send'/>
                </form>
            </div>

            <div class="container">
                    <h3>If you ran out of things to say, talk about the weather in Santiago:</h3>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>    
                                <td>
                                    Temperature: 
                                </td>
                                <td>
                                    {{temperature}} °C
                                </td>  
                            </tr>
                            <tr>
                                <td>
                                    Description: 
                                </td>
                                <td>
                                    {{weather_description}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Humidity: 
                                </td>
                                <td>
                                    {{humidity}}%
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Pressure: 
                                </td>
                                <td>
                                    {{pressure}} hPa
                                </td>
                            </tr>
                        </tbody>
                      </table>
                </div>
            

    </body>
</html>





